// colores
/*
### Primary

- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)
*/
$white : hsl(0, 0%, 100%);

// fuentes
/*
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
*/
$font-family-base: 'Barlow',
sans-serif;

body {
  font-size: 18px;
}

.row {
  width: 100%;
}

.header-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/desktop/image-header.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: hsl(167, 40%, 24%);
		z-index: 1000;
		padding: 10px 0;

    .header-link-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        a {
          text-transform: uppercase;
          font-size: .8rem;
          color: $white;
          text-decoration: none;
        }
      }

      .nav-link-menu {
        a {
          text-decoration: none;
          font-size: .8rem;
          padding: 6px;
          color: $white;
					border-radius: 5px;
					margin: 0 2px;
        }
      }
    }
  }

  .cont-text {
    position: absolute;
    top: 20%;
    left: 50%;
    // height: 50%;
    width: 100%;
    margin: 0 0 0 -50%;
    text-align: center;

    h1 {
      align-items: center;
      justify-content: center;
      color: $white;
      text-transform: uppercase;
      letter-spacing: .3rem;
      font-weight: 600;
    }
  }
}

main{
	section{
		// .desing{
		// 	background-image: url('../images/mobile/image-graphic-design.jpg');
		// 	background-repeat: no-repeat;
		// 	background-position: center;
		// 	background-size: cover;
		// }
		// .photography{
		// 	background-image: url('../images/mobile/image-photography.jpg');
		// 	background-repeat: no-repeat;
		// 	background-position: center;
		// 	background-size: cover;
		// }
		article{
			width: 100%;
			max-height: 300px;
		}
	}
}
// medias
@media (max-width: 375px) {
  .header-page {
    background-image: url('../images/mobile/image-header.jpg');
		.cont-text{
			top: 30%;
    	left: 50%;
			h1{
				font-size: 3rem;
				font-weight: 900;
			}
		}
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap"