/*
### Primary

- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)
*/
/*
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
*/
body {
  font-size: 18px;
}

.row {
  width: 100%;
}

.header-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-page .nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #25564b;
  z-index: 1000;
  padding: 10px 0;
}

.header-page .nav-menu .header-link-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-page .nav-menu .header-link-menu .logo a {
  text-transform: uppercase;
  font-size: .8rem;
  color: white;
  text-decoration: none;
}

.header-page .nav-menu .header-link-menu .nav-link-menu a {
  text-decoration: none;
  font-size: .8rem;
  padding: 6px;
  color: white;
  border-radius: 5px;
  margin: 0 2px;
}

.header-page .cont-text {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  margin: 0 0 0 -50%;
  text-align: center;
}

.header-page .cont-text h1 {
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 600;
}

main section .section-title {
  font-weight: 900;
  font-size: 2rem;
}

main section .desing {
  position: relative;
}

main section .desing .section-container {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 0;
  text-align: center;
}

@media (max-width: 375px) {
  .header-page {
    background-image: url("../images/mobile/image-header.jpg");
  }
  .header-page .cont-text {
    top: 30%;
    left: 50%;
  }
  .header-page .cont-text h1 {
    font-size: 3rem;
    font-weight: 900;
  }
}
/*# sourceMappingURL=style.css.map */